@use "../settings/variables";
body {
  color: #1b2e49;
  font-family: 'sofia sans';
  font-size: 1rem;
  line-height: 1.3; }

@use "../settings/variables";
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.13;
  color: coral; }

h1 {
  font-size: 2.75rem; }

h2 {
  font-size: 2.0625rem; }

h3 {
  font-size: 1.5625rem; }

h4 {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.13;
  color: #1b2e49; }

h5 {
  font-size: 1.1875rem;
  font-weight: 300;
  line-height: 1.13;
  color: #1b2e49; }

@use "../settings/variables";
header {
  position: fixed;
  margin: auto;
  width: 100%;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.navbarM {
  background-color: coral;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0px;
  cursor: pointer;
  width: 100%;
  margin: auto; }

.nav-list {
  width: 100%;
  text-align: left;
  display: flex;
  margin-bottom: 0px; }
  .nav-list li {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
    list-style: none;
    padding: 0px 10px; }
    .nav-list li a {
      text-decoration: none;
      color: #fff; }
      .nav-list li a:hover {
        color: #1b2e49; }

.rightNav {
  text-align: right;
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0px;
  height: 40px; }
  .rightNav li {
    padding: 26px 10px; }

.buttonNav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff; }

@use "../settings/variables";
.parallas {
  margin: 0 auto; }

.main {
  margin: 0 auto; }

.texto {
  width: 100%;
  height: 100%;
  display: inline;
  overflow: hidden; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 100%;
  position: relative; }

.textoimg {
  left: 10%;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 80%; }

.titular {
  color: #fff;
  font-weight: 700;
  font-size: calc(1.525rem + 3.3vw); }

.subtitular {
  color: #fff;
  font-size: 200%;
  font-weight: 300; }

.img-uno {
  background-image: url("https://thumbs2.imgbox.com/4f/6e/jdGS9ZEl_t.png"); }

.row-margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px; }

.col-padding {
  padding: 0px; }

@use "../settings/variables";
#effect-hover .img {
  width: 100%;
  height: auto;
  background-size: cover;
  margin: auto;
  position: relative; }
  #effect-hover .img:hover #efecto {
    opacity: 1; }
  #effect-hover .img:hover h2 {
    top: 50px; }
  #effect-hover .img:hover p {
    bottom: 50px; }

#effect-hover #efecto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: auto;
  background-color: #5dedbd;
  opacity: 0;
  transition: opacity 2s; }

#effect-hover h2 {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  font-size: 2.0625rem;
  font-weight: 700;
  color: #1b2e49;
  transition-duration: 2s;
  margin: 0px; }

#effect-hover p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.1875rem;
  color: #1b2e49;
  transition-duration: 2s;
  margin: 0px; }

@use "../settings/variables";
.btn-principal {
  font-size: 0.875rem;
  font-weight: 700;
  background-color: coral;
  border-width: 0px; }

form {
  height: auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px; }

.img-head {
  margin-top: 50px;
  height: 300px; }

@use "../settings/variables";
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: coral; }
  footer p {
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: #fff; }
