$font-family: "https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,300;0,600;0,700;1,100&display=swap";

// Typography scale
$fs-base: 16;

$_fs-9: 9 / $fs-base + rem;
$_fs-14: 14 / $fs-base + rem;
$_fs-16: 16 / $fs-base + rem;
$_fs-19: 19 / $fs-base + rem;
$_fs-25: 25 / $fs-base + rem;
$_fs-33: 33 / $fs-base + rem;
$_fs-44: 44 / $fs-base + rem;

// Typography applications
$fs-pill: $_fs-9;
$fs-btn: $_fs-14;
$fs-footer: $_fs-14;
$fs-menu: $_fs-16;
$fs-body: $_fs-16;
$fs-lead: $_fs-19;
$fs-title-s: $_fs-25;
$fs-title-m: $_fs-33;
$fs-title-l: $_fs-44;
