@use "../settings/variables";

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.13;
    color: $primary-color;
}

h1 {
    font-size: $fs-title-l;
}

h2 {
    font-size: $fs-title-m;
}

h3 {
    font-size: $fs-title-s;
}

h4 {
    font-size: $fs-lead;
    font-weight: 700;
    line-height: 1.13;
    color: $negro;
}

h5 {
    font-size: $fs-lead;
    font-weight: 300;
    line-height: 1.13;
    color: $negro;
}