@use "../settings/variables";

#effect-hover {
	.img {
		width: 100%;
		height: auto;
		background-size: cover;
		margin: auto;
		position: relative;
		&:hover {
			#efecto {
				opacity: 1;
			}
			h2 {
				top: 50px;
			}
			p {
				bottom: 50px;
			}
		}
	}
	#efecto {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: auto;
		background-color: $accesory-color;
		opacity: 0;
		transition: opacity 2s;
	}
	h2 {
		position: absolute;
		text-align: center;
		top: 0;
		left: 0;
		right: 0;
		font-size: $fs-title-m;
		font-weight: 700;
		color: $text-color;
		transition-duration: 2s;
		margin: 0px;
	}
	p {
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: $fs-lead;
		color: $text-color;
		transition-duration: 2s;
		margin: 0px;
	}
}
