@use "../settings/variables";

header {
	position: fixed;
	margin: auto;
	width: 100%;
	z-index: 1111;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.navbarM {
	background-color: $primary-color;
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	top: 0px;
	cursor: pointer;
	width: 100%;
	margin: auto;
}
.nav-list {
	width: 100%;
	text-align: left;
	display: flex;
	margin-bottom: 0px;
	li {
		color: $secondary-color;
		font-size: $fs-menu;
		font-weight: 700;
		text-decoration: none;
		text-align: left;
		list-style: none;
		padding: 0px 10px;
		a {
			text-decoration: none;
			color: $secondary-color;
			&:hover {
				color: $verde;
			}
		}
	}
}
.rightNav {
	text-align: right;
	display: flex;
	list-style: none;
	align-items: center;
	margin-bottom: 0px;
	height: 40px;
	li {
		padding: 26px 10px;
	}
}
.buttonNav {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	background-color: $secondary-color;
}
